@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, "Cascadia Code", monospace;
}

:root {
  color-scheme: light dark;
}
